<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Archives</title>
</head>
<body>
<h1>
    This is archive list!
</h1>
{% if archives %}
<ul>
    {% for archive in archives %}
        <li>
            <a href="/core/archive/{{ archive.id }}">
                {{ archive.title }}
            </a>
        </li>
    {% endfor %}
</ul>
{% else %}
    <p> There is no archive here. </p>
{% endif %}
<h2>
    Submit your archive
</h2>
<form action="{% url 'core:archive' %}" method="post">
    {% csrf_token %}
    <input type="text" id="title" name="title" />
    <br/>
    <input type="text" id="content" name="content" />
    <input type="submit" value="Submit"/>
</form>
</body>
</html>